In [1]:
import pandas as pd
import os

In [2]:
file_path = os.path.join("Resources/purchase_data.csv")
file_path

'Resources/purchase_data.csv'

In [3]:
# Dependencies and Setup
import pandas as pd
import os
# File to Load (Remember to Change These)
data_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(data_file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
# Display the total number of players
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [5]:
players_count = purchase_data_df.count()[0]
pd.DataFrame({'Total Players': [players_count]})

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Number of Unique Items
item_count = len(purchase_data_df["Item ID"].unique())
# Average Price
average_price = purchase_data_df["Price"].mean()

#Total Number of Purchases
purchase_count = purchase_data_df["Price"].count()

#Total Revenue
total_revenue = purchase_data_df["Price"].sum()

#Create a summary data frame to hold the results
summary_data= pd.DataFrame({"Number of Unique Items": [item_count],
                              "Total Revenue": [total_revenue],
                              "Number of Purchases": [purchase_count],
                              "Average Price": [average_price]})
summary_data

   Number of Unique Items  Total Revenue  Number of Purchases  Average Price
0                     179        2379.77                  780       3.050987

In [7]:
# Display a statistical overview of the DataFrame
summary = purchase_data_df.describe()
summary.loc['mean']

Purchase ID    389.500000
Age             22.714103
Item ID         91.755128
Price            3.050987
Name: mean, dtype: float64

In [8]:
# Display the summary data frame
summary_df = pd.DataFrame({
    'Purchase ID':[]
})

In [9]:
# The unique method 
unique = purchase_data_df['Item ID'].unique()
unique

array([108, 143,  92, 100, 131,  81, 169, 162,  21, 136,  95, 116,   4,
       165,  98,  40, 161,  82,  89,  57, 168,  24, 151, 132, 178,  71,
        96, 119,  37, 140, 179, 133,  44, 160,  53,  76,  73, 172,   7,
        72,   9, 181, 102, 170, 138, 110,  22,  15,  60, 176,  25,  84,
        80, 152, 105, 125,  56,  34,   6,  27,  29,  68, 124,  88,  20,
        50, 174,  12,  33, 129,  17,  59,  39, 164, 134, 109,  10,  54,
        99,  85, 139,  41, 150,  13, 117,  78,  87,   1,  62,  75,  58,
        74, 120, 145,   0,   2, 146, 158,   8, 175,  46, 148, 111,   3,
        65, 183,  30, 157, 123,   5, 144, 103, 135,  51, 154,  32,  77,
        11,  63,  69, 113, 153, 114, 149, 159, 137, 142,  66,  97, 163,
       107,  16,  42,  19,  83,  28,  94, 182,  70,  18, 166, 173, 167,
       155, 128, 156, 147,  35, 171,  52, 106,  38,  91, 118,  67,  45,
        49, 121,  79,  14,  43,  31,  64,  86,  93,  26, 122,  61,  48,
       112, 126, 115,  55, 127,  47, 130,  90, 177, 104])

In [10]:
# The mean method average
average = purchase_data_df['Price'].mean()
average

3.050987179487176

In [11]:
# Reference a single column within DataFrame
purchase_data_df['Price'].head()

0    3.53
1    1.56
2    4.88
3    3.27
4    1.44
Name: Price, dtype: float64

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [12]:
# The value_counts method counts uniques values in column
gender_counts = purchase_data_df['Gender'].value_counts()
gender_counts

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [13]:
# Percentages Male, Female, and Other / Non-Disclosed
percent100 = purchase_data_df['Gender'].value_counts(normalize=True).mul(100).round(1).astype(str) + '%'
percent100

Male                     83.6%
Female                   14.5%
Other / Non-Disclosed     1.9%
Name: Gender, dtype: object


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
total_item_count_by_gender = purchase_data_df.groupby('Gender')['Item ID'].count()
total_spent_by_gender = purchase_data_df.groupby('Gender')['Price'].sum()
max_cost_by_gender = purchase_data_df.groupby('Gender')['Price'].max()
min_cost_by_gender = purchase_data_df.groupby('Gender')['Price'].min()
avg_cost_by_gender = purchase_data_df.groupby('Gender')['Price'].mean()

avg_spent_by_female = total_spent_by_gender.Female / gender_counts.Female
avg_spent_by_male = total_spent_by_gender.Male / gender_counts.Male
avg_spent_by_other = total_spent_by_gender["Other / Non-Disclosed"] / gender_counts["Other / Non-Disclosed"]

myList = [{"Total Items": total_item_count_by_gender.Female, 
           "Total Purchases": total_spent_by_gender.Female,
            "Avg Spent per Person": avg_spent_by_female, 
            "Players": gender_counts.Female},
           {"Total Items": total_item_count_by_gender.Male, 
            "Total Purchases": total_spent_by_gender.Male,
            "Avg Spent per Person": avg_spent_by_male, 
            "Players": gender_counts.Male},
           {"Total Items": total_item_count_by_gender["Other / Non-Disclosed"],
            "Total Purchases": total_spent_by_gender["Other / Non-Disclosed"], 
            "Avg Spent per Person": avg_spent_by_other,
            "Players": gender_counts["Other / Non-Disclosed"]}]

gender_df = pd.DataFrame(myList)
gender_df.rename(index={0:'Female', 1:'Male', 2:'Other'}, inplace=True)

gender_df["Total Purchases"] = gender_df["Total Purchases"].map("${:.2f}".format)
gender_df["Avg Spent per Person"] = gender_df["Avg Spent per Person"].map("${:.2f}".format)
# Change column order
gender_df = gender_df[['Players','Total Items', 'Total Purchases', 'Avg Spent per Person']]

gender_df

        Players  Total Items Total Purchases Avg Spent per Person
Female      113          113         $361.94                $3.20
Male        652          652        $1967.64                $3.02
Other        15           15          $50.19                $3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [15]:
# Establish the bins for ages
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 99999]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data_df['Age Ranges'] = pd.cut(purchase_data_df['Age'], age_bins, labels=group_names)

# Calculate the numbers and percentages by age group
groupedby_ages = purchase_data_df.groupby('Age Ranges')
age_counts = groupedby_ages['SN'].nunique()   
total_players = age_counts.sum()

age_list = [{"Players": age_counts["<10"], "Percentage": (age_counts["<10"] * 100) / total_players},
            {"Players": age_counts["10-14"], "Percentage": (age_counts["10-14"] * 100) / total_players},
            {"Players": age_counts["15-19"], "Percentage": (age_counts["15-19"] * 100) / total_players},
            {"Players": age_counts["20-24"], "Percentage": (age_counts["20-24"] * 100) / total_players},
            {"Players": age_counts["25-29"], "Percentage": (age_counts["25-29"] * 100) / total_players},
            {"Players": age_counts["30-34"], "Percentage": (age_counts["30-34"] * 100) / total_players},
            {"Players": age_counts["35-39"], "Percentage": (age_counts["35-39"] * 100) / total_players},
            {"Players": age_counts["40+"], "Percentage": (age_counts["40+"] * 100) / total_players}]

summary_ages_df = pd.DataFrame(age_list)
summary_ages_df.rename(index={0:'<10', 1:'10-14', 2:'15-19', 3:'20-24', 4:'25-29', 5:'30-34', 6:'35-39', 7:'40+'}, 
                       inplace=True)
summary_ages_df['Percentage'] = summary_ages_df['Percentage'].map('{:.2f}%'.format)
summary_ages_df = summary_ages_df[['Players', 'Percentage']]

summary_ages_df

       Players Percentage
<10         17      2.95%
10-14       22      3.82%
15-19      107     18.58%
20-24      258     44.79%
25-29       77     13.37%
30-34       52      9.03%
35-39       31      5.38%
40+         12      2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
# Can use the previously determined DataFrame
groupedby_age_range = purchase_data_df.groupby("Age Ranges")
total_item_count_by_age = groupedby_age_range['Item ID'].count()
total_spent_by_age = groupedby_age_range['Price'].sum()
max_cost_by_age = groupedby_age_range['Price'].max()
min_cost_by_age = groupedby_age_range['Price'].min()
avg_cost_by_age = groupedby_age_range['Price'].mean()

# age_counts from In[7]
age_purchase_list = [{"Players": age_counts["<10"], 
                      "Purchase Count": total_item_count_by_age["<10"],
                      "Total Purchases": total_spent_by_age["<10"],
                      "Avg Spent per Player": total_spent_by_age["<10"] / age_counts["<10"]},
                     {"Players": age_counts["10-14"], 
                      "Purchase Count": total_item_count_by_age["10-14"],
                      "Total Purchases": total_spent_by_age["10-14"], 
                      "Avg Spent per Player": total_spent_by_age["10-14"] / age_counts["10-14"]},
                     {"Players": age_counts["15-19"], 
                      "Purchase Count": total_item_count_by_age["15-19"],
                      "Total Purchases": total_spent_by_age["15-19"], 
                      "Avg Spent per Player": total_spent_by_age["15-19"] / age_counts["15-19"]},
                     {"Players": age_counts["20-24"],
                      "Purchase Count": total_item_count_by_age["20-24"],
                      "Total Purchases": total_spent_by_age["20-24"], 
                      "Avg Spent per Player": total_spent_by_age["20-24"] / age_counts["20-24"]},
                     {"Players": age_counts["25-29"], 
                      "Purchase Count": total_item_count_by_age["25-29"],
                      "Total Purchases": total_spent_by_age["25-29"], 
                      "Avg Spent per Player": total_spent_by_age["25-29"] / age_counts["25-29"]},
                     {"Players": age_counts["30-34"], 
                      "Purchase Count": total_item_count_by_age["30-34"],
                      "Total Purchases": total_spent_by_age["30-34"], 
                      "Avg Spent per Player": total_spent_by_age["30-34"] / age_counts["30-34"]},
                     {"Players": age_counts["35-39"], 
                      "Purchase Count": total_item_count_by_age["35-39"],
                      "Total Purchases": total_spent_by_age["35-39"], 
                      "Avg Spent per Player": total_spent_by_age["35-39"] / age_counts["35-39"]},
                     {"Players": age_counts["40+"], 
                      "Purchase Count": total_item_count_by_age["40+"],
                      "Total Purchases": total_spent_by_age["40+"], 
                      "Avg Spent per Player": total_spent_by_age["40+"] / age_counts["40+"]}]

summary_purchase_by_age_df = pd.DataFrame(age_purchase_list)

summary_purchase_by_age_df["Total Purchases"] = summary_purchase_by_age_df["Total Purchases"].map("${:.2f}".format)
summary_purchase_by_age_df["Avg Spent per Player"] = summary_purchase_by_age_df["Avg Spent per Player"].map("${:.2f}".format)

summary_purchase_by_age_df.rename(index={0:'<10', 1:'10-14', 2:'15-19', 3:'20-24', 4:'25-29', 5:'30-34',
                                          6:'35-39', 7:'40+'}, inplace=True)

summary_purchase_by_age_df = summary_purchase_by_age_df[['Players','Purchase Count', 'Total Purchases',
                                                           'Avg Spent per Player']]

summary_purchase_by_age_df

       Players  Purchase Count Total Purchases Avg Spent per Player
<10         17              23          $77.13                $4.54
10-14       22              28          $82.78                $3.76
15-19      107             136         $412.89                $3.86
20-24      258             365        $1114.06                $4.32
25-29       77             101         $293.00                $3.81
30-34       52              73         $214.00                $4.12
35-39       31              41         $147.67                $4.76
40+         12              13          $38.24                $3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
groupedby_player = purchase_data_df.groupby(['SN'])
total_spent_player = groupedby_player['Price'].sum()
items_per_player = groupedby_player['Price'].count()

player_list_df = pd.DataFrame(total_spent_player)
player_list_df['Item Count'] = items_per_player
player_list_df['Avg Spent'] = total_spent_player / items_per_player
player_list_df.columns = ["Total Purchases", "Item Count", "Avg Spent"]
player_list_df

player_list_df["Avg Spent"] = player_list_df["Avg Spent"].map("${:.2f}".format)
player_list_df.sort_values(by='Total Purchases', ascending=False, inplace=True)
player_list_df["Total Purchases"] = player_list_df["Total Purchases"].map("${:.2f}".format)

player_list_df.head()

            Total Purchases  Item Count Avg Spent
SN
Lisosia93            $18.96           5     $3.79
Idastidru52          $15.45           4     $3.86
Chamjask73           $13.83           3     $4.61
Iral74               $13.62           4     $3.40
Iskadarya95          $13.10           3     $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
popular_item_df = purchase_data_df.loc[:, 'Item ID':'Price'].copy()
groupedby_popular = popular_item_df.groupby(['Item ID', 'Item Name'])

total_purchases = groupedby_popular['Price'].sum()
num_items_purchased = groupedby_popular['Item ID'].count()

#Create a summary data frame to hold the results
popular_items_df = pd.DataFrame(num_items_purchased)
popular_items_df['Total Purchase Value'] = total_purchases
popular_items_df.columns = ["Purchase Count", "Total Purchase Value"]
popular_items_df = popular_items_df.sort_values(by='Item ID')


prices_df = purchase_data_df[['Item ID', 'Item Name', 'Price']]
prices_nodup_df = prices_df.drop_duplicates(['Item ID'], keep = 'last')
prices_post_df = prices_nodup_df.sort_values(by=['Item ID'])
prices_post_df.set_index(['Item ID', 'Item Name'], inplace=True)

popular_items_df = popular_items_df.join(prices_post_df)


profitable_items_df = popular_items_df

popular_items_df = popular_items_df.sort_values(by='Purchase Count', ascending=False)
popular_items_df["Price"] = popular_items_df["Price"].map("${:.2f}".format)
popular_items_df["Total Purchase Value"] = popular_items_df["Total Purchase Value"].map("${:.2f}".format)

popular_items_df.head()

,,Purchase Count,Total Purchase Value,Price
Item ID,Item Name,,,
92,Final Critic,13,$59.99,$4.19
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
145,Fiery Glass Crusader,9,$41.22,$4.58
132,Persuasion,9,$28.99,$3.33
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77,$3.53

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [26]:
profitable_items_df = profitable_items_df.sort_values(by='Total Purchase Value', ascending=False)
profitable_items_df["Price"] = profitable_items_df["Price"].map("${:.2f}".format)
profitable_items_df["Total Purchase Value"] = profitable_items_df["Total Purchase Value"].map("${:.2f}".format)

profitable_items_df.head()

,,Purchase Count,Total Purchase Value,Price
Item ID,Item Name,,,
92,Final Critic,13,$59.99,$4.19
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76,$4.23
82,Nirvana,9,$44.10,$4.90
145,Fiery Glass Crusader,9,$41.22,$4.58
103,Singed Scalpel,8,$34.80,$4.35